<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MG400VID" value="0x056e"/>
    <!--设备的vid0x220c-->
    <add key="MG400PID" value="0x104a"/>

    <add key="MG400VIDMouse" value="0x056e"/>
    <!--设备的vid0x220c-->
    <add key="MG400PIDMouse" value="0x00eb"/>

    <add key="MG400AVIDMouse" value="0x056e"/>
    <add key="MG400APIDMouse" value="0x00ed"/>


    <add key="KG620KeyboardVID" value="0x1a81"/>
    <add key="KG620KeyboardPID" value="0x201d"/>   
    <!--有线设备设备-->

    <add key="KG611KeyboardVID" value="0x0b05"/>
    <add key="KG611KeyboardPID" value="0x1835"/>
    <!--有线设备设备-->

    <add key="UPDATEVID" value="0x1a81"/>
    <add key="UPDATEPID" value="0x2226"/>
    <!--有线设备设备-->


  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
